<h2 mat-dialog-title>Add New Task</h2>
<div mat-dialog-content class="dialog-content">
    <div class="row">
        <mat-form-field class="flex-fill">
            <input matInput placeholder="Task Title" [(ngModel)]="newTaskTitle">
        </mat-form-field>
    </div>
    <div class="row">
        <mat-form-field class="flex-fill">
            <mat-select name="status" [(ngModel)]="newTaskStatus">
                <mat-option value="Pending">Pending</mat-option>
                <mat-option value="Completed">Completed</mat-option>
            </mat-select>
        </mat-form-field>
    </div>
</div>
<div mat-dialog-actions>
    <button mat-button (click)="cancel()">Cancel</button>
    <button mat-button color="primary" (click)="addTask()">Add Task</button>
</div>